<!DOCTYPE html>
<html lang="en">
<head>


</head>
<body>
   
<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img class="logo" src="assets/kyubbst.png"></a>
    </div>
    <!--ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul-->

  </div>
</nav>

<div class="container">
    <div class="row">
  <div class="box h-50 col-lg-12">
    <ul>
        <li>
            <span></span>
            <div class="title">comment #01</div>
            <div class="info">the best animation , the best toturials you would ever see .</div>

            <div class="time">
                <span>JUN, 17<sup>th</sup></span>
                <span>12:00 AM</span>
            </div>
        </li>
     
          <li>
              <span></span>
              <div class="title">comment #01</div>
              <div class="info">the best animation , the best toturials you would ever see .</div>
  
              <div class="time">
                  <span>JUN, 17<sup>th</sup></span>
                  <span>12:00 AM</span>
              </div>
          </li>
          <li>
            <span></span>
            <div class="title">comment #01</div>
            <div class="info">the best animation , the best toturials you would ever see .</div>

            <div class="time">
                <span>JUN, 17<sup>th</sup></span>
                <span>12:00 AM</span>
            </div>
        </li>
        <li>
          <span></span>
          <div class="title">comment #01</div>
          <div class="info">the best animation , the best toturials you would ever see .</div>

          <div class="time">
              <span>JUN, 17<sup>th</sup></span>
              <span>12:00 AM</span>
          </div>
      </li>
      <li>
          <span></span>
          <div class="title">comment #01</div>
          <div class="info">the best animation , the best toturials you would ever see .</div>

          <div class="time">
              <span>JUN, 17<sup>th</sup></span>
              <span>12:00 AM</span>
          </div>
      </li> <li>
          <span></span>
          <div class="title">comment #01</div>
          <div class="info">the best animation , the best toturials you would ever see .</div>

          <div class="time">
              <span>JUN, 17<sup>th</sup></span>
              <span>12:00 AM</span>
          </div>
      </li> <li>
          <span></span>
          <div class="title">comment #01</div>
          <div class="info">the best animation , the best toturials you would ever see .</div>

          <div class="time">
              <span>JUN, 17<sup>th</sup></span>
              <span>12:00 AM</span>
          </div>
      </li> <li>
          <span></span>
          <div class="title">comment #01</div>
          <div class="info">the best animation , the best toturials you would ever see .</div>

          <div class="time">
              <span>JUN, 17<sup>th</sup></span>
              <span>12:00 AM</span>
          </div>
      </li> <li>
          <span></span>
          <div class="title">comment #01</div>
          <div class="info">the best animation , the best toturials you would ever see .</div>

          <div class="time">
              <span>JUN, 17<sup>th</sup></span>
              <span>12:00 AM</span>
          </div>
      </li> <li>
          <span></span>
          <div class="title">comment #01</div>
          <div class="info">the best animation , the best toturials you would ever see .</div>

          <div class="time">
              <span>JUN, 17<sup>th</sup></span>
              <span>12:00 AM</span>
          </div>
      </li> <li>
          <span></span>
          <div class="title">comment #01</div>
          <div class="info">the best animation , the best toturials you would ever see .</div>

          <div class="time">
              <span>JUN, 17<sup>th</sup></span>
              <span>12:00 AM</span>
          </div>
      </li> <li>
          <span></span>
          <div class="title">comment #01</div>
          <div class="info">the best animation , the best toturials you would ever see .</div>

          <div class="time">
              <span>JUN, 17<sup>th</sup></span>
              <span>12:00 AM</span>
          </div>
      </li> <li>
          <span></span>
          <div class="title">comment #01</div>
          <div class="info">the best animation , the best toturials you would ever see .</div>

          <div class="time">
              <span>JUN, 17<sup>th</sup></span>
              <span>12:00 AM</span>
          </div>
      </li> <li>
          <span></span>
          <div class="title">comment #01</div>
          <div class="info">the best animation , the best toturials you would ever see .</div>

          <div class="time">
              <span>JUN, 17<sup>th</sup></span>
              <span>12:00 AM</span>
          </div>
      </li>
          </ul>
        </div>
        </div>

        <div class="row">
            <textarea class="col-lg-12 " placeholder="Your message.."></textarea>
            <br>
          </div>
            <!--input type="button" class="button" value="Submit"-->


</div>
</body>
</html>
