<body>
<div class="container-fluid">


  
</div>

<div class="container center">
    <div class="col-md-3 scene">
        <div class="cube">
          <div class="cube__face cube__face--front">Science</div>
          <div class="cube__face cube__face--back">HOME</div>
          <div class="cube__face cube__face--right"></div>
          <div class="cube__face cube__face--left"></div>
          <div class="cube__face cube__face--top"></div>
          <div class="cube__face cube__face--bottom"></div>
        </div>
      </div>

      <div class="col-md-3 scene">
          <div class="cube">
            <div class="cube__face cube__face--front">Tech</div>
            <div class="cube__face cube__face--back">HOME</div>
            <div class="cube__face cube__face--right"></div>
            <div class="cube__face cube__face--left"></div>
            <div class="cube__face cube__face--top"></div>
            <div class="cube__face cube__face--bottom"></div>
          </div>
        </div>

        <div class="col-md-3 scene">
            <div class="cube">
              <div class="cube__face cube__face--front">Arts</div>
              <div class="cube__face cube__face--back">HOME</div>
              <div class="cube__face cube__face--right"></div>
              <div class="cube__face cube__face--left"></div>
              <div class="cube__face cube__face--top"></div>
              <div class="cube__face cube__face--bottom"></div>
            </div>
          </div>

          <div class="col-md-3 scene">
              <div class="cube">
                <div class="cube__face cube__face--front">Gaming</div>
                <div class="cube__face cube__face--back">HOME</div>
                <div class="cube__face cube__face--right"></div>
                <div class="cube__face cube__face--left"></div>
                <div class="cube__face cube__face--top"></div>
                <div class="cube__face cube__face--bottom"></div>
              </div>
            </div>

            <div class="col-md-3 scene">
                <div class="cube">
                  <div class="cube__face cube__face--front">Film</div>
                  <div class="cube__face cube__face--back">HOME</div>
                  <div class="cube__face cube__face--right"></div>
                  <div class="cube__face cube__face--left"></div>
                  <div class="cube__face cube__face--top"></div>
                  <div class="cube__face cube__face--bottom"></div>
                </div>
              </div>

              <div class="col-md-3 scene">
                  <div class="cube">
                    <div class="cube__face cube__face--front">Animation</div>
                    <div class="cube__face cube__face--back">HOME</div>
                    <div class="cube__face cube__face--right"></div>
                    <div class="cube__face cube__face--left"></div>
                    <div class="cube__face cube__face--top"></div>
                    <div class="cube__face cube__face--bottom"></div>
                  </div>
                </div>

                <div class="col-md-3 scene">
                    <div class="cube">
                      <div class="cube__face cube__face--front">Fitness</div>
                      <div class="cube__face cube__face--back">HOME</div>
                      <div class="cube__face cube__face--right"></div>
                      <div class="cube__face cube__face--left"></div>
                      <div class="cube__face cube__face--top"></div>
                      <div class="cube__face cube__face--bottom"></div>
                    </div>
                  </div>

                  <div class="col-md-3 scene">
                      <div class="cube">
                        <div class="cube__face cube__face--front">Sports</div>
                        <div class="cube__face cube__face--back">HOME</div>
                        <div class="cube__face cube__face--right">today the </div>
                        <div class="cube__face cube__face--left">5-0 5-0-50-</div>
                        <div class="cube__face cube__face--top"></div>
                        <div class="cube__face cube__face--bottom"></div>
                      </div>
                    </div>

                    <div class="col-md-3 scene">
                        <div class="cube">
                          <div class="cube__face cube__face--front">Outdoors</div>
                          <div class="cube__face cube__face--back">HOME</div>
                          <div class="cube__face cube__face--right"></div>
                          <div class="cube__face cube__face--left"></div>
                          <div class="cube__face cube__face--top"></div>
                          <div class="cube__face cube__face--bottom"></div>
                        </div>
                      </div>

                  

            
          

      
            </div>
          </body>