<body>
<div class="container-fluid">
    <marquee scrollamount="12">

        <div class="row">
            <div *ngFor="let k of kyb"  class="block cube">
              <div class="cube__face cube__face--front">{{k}}</div>
              <div class="cube__face cube__face--back">{{k}}</div>
              <div class="cube__face cube__face--right">{{k}}</div>
              <div class="cube__face cube__face--left">{{k}}</div>
              <div class="cube__face cube__face--top">{{k}}</div>
              <div class="cube__face cube__face--bottom">{{k}}</div>
            </div>
          </div>
       
 
    </marquee>
</div>         

<div class="container boards" *ngFor="let category of categoryList">
<button  class="accordion"  (click)="playAccordion($event)">{{category.name}}</button>
<div class="panel">
<ul *ngFor="let board of boardList" >
<li *ngIf="board.categoryId.categoryId==category.categoryId"><a href="javascript:void(0)" routerLink="origin">{{board.name}}</a></li>
</ul>
</div>
</div>



          
          </body>